.container {
  display: flex;
  height: 100vh;
}

.main {
  flex: 1;
  gap: 0 !important;
  display: flex;
  flex-direction: column;
  width: calc(100% - 224px);
}

.content {
  flex: 1;
  gap: 20px;
  display: flex;
  flex-direction: column;
  padding: 36px 40px;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  color: #020617;
}

.twoCols {
  display: flex;
  gap: 20px;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  width: 100%;
  background-color: #fff;

  /* Shadows/Shadow */
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1);
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1));
  border-radius: 8px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cardInner {
  flex: 1;
  padding: 20px;
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: space-between;
}

.divider {
  width: 1px;
  background-color: #cbd5e1;
}

.fairLaunchButton {
  background-color: #22c55e;
  color: #fff;
  border-radius: 4px;
  border: none;
  padding: 8px 24px;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
}
