@layer reset, base, tokens, recipes, utilities;

:root {
  --background: #000;
  --foreground: #000;
  --background-secondary: #FAFAFA;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #000;
    --background-secondary: #FAFAFA;
  }
}

html {
  /* Now 1 rem = 10px in most browsers */
  font-size: 62.5%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-size: 1.6rem; /* ~16px */
}

a {
  color: inherit;
  /* text-decoration: none; */
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}